.profile {
    margin: auto;
    
}


.profile__header {
    display: flex;
    margin: auto auto 50px auto;
   
}


.profile__photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
   
}

.profile__data {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    width: 415px;
    margin: auto 165px auto 30px;
  
    
  
}

.profile__name {
    font-family: "Inter";
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    color: #fff;
    margin: auto; 
    width: 375px;
   
    
  


}

.profile__edit-button {
    background-color: #000;
    border: none;
    visibility: visible;
    
    


}

.profile__edit-image {
    
    width: 24px;
    height: 24px;
    margin-left: 18px;
    
  
}

.profile__job {
    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fff;
    
   
   
}


.profile__add-button {
    background-color: #000;
    border: none;
    
    

}

.profile__add-image {
    width: 150px;
    height: 50px;
    margin: auto;
    
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    
    .profile__data {
        flex-direction: row;
        flex-wrap: wrap;
       
    }

      
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  
    .profile__header {
        display: flex;
        flex-direction: column;
        margin: auto auto 36px auto;
        align-items: center;
              
    }
    
    
    .profile__photo {
        margin-bottom: 30px;

       
    }
    
    .profile__data {
      text-align: center;
    
        
        
    }
    
    .profile__name {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 14px;
        
       
    
    }
    
    /*.profile__edit-button {
        
    
    }*/
    
    .profile__edit-image {
        width: 18px;
        height: 18px;
        margin: auto auto auto 15px;
        display: block;
       
      
    }
    
    
    
    .profile__job {
        font-size: 14px;
        margin-bottom: 36px;
        
       
    }
        
    
    
    .profile__add-image {
        width: 90%;
        
    }


   
  
}