<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Un feed de una red social con fotos de un explorador"
    />
    <meta name="keywords" content="US, around, Cousteau" />
    <meta name="author" content="Sol Gago" />
    <title>Around The U.S.</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          src="./images/logo_around.png"
          alt="logo of Around"
          class="header__logo"
        />
        <img src="<%= require('./images/Line.jpg')%>" alt="a line" class="header__line" />
      </header>
      <main class="profile">
        <div class="profile__header">
          <img
            src="<%= require('./images/profile_image.jpg)%>"
            alt="a photo of Jack Cousteau with a red hat"
            class="profile__photo"
          />
          <div class="profile__data">
            <h1 class="profile__name">Jacques Cousteau</h1>
            <button class="profile__edit-button" type="submit"></button>
            <p class="profile__job">Explorer</p>
          </div>
          <button class="profile__add-button" type="submit">
            <img
              src="<%= require('./images/Add_Button.png)%>"
              class="profile__add-image"
              alt="a plus sign"
            />
          </button>
        </div>
        <ul class="cards"></ul>
      </main>
      <footer class="footer">
        <p class="footer__copyright">&#169; 2020 Around The U.S.</p>
      </footer>

      <div class="popup popup_opened" id="popup-profile">
        <form class="form popup__form" id="profile-form">
          <img
            src="<%= require('./images/Close_Icon.png)%>"
            class="form form_close-button"
            id="close-profile-form"
          />
          <h2 class="form form__title">Edit profile</h2>
          <input
            class="form form__input"
            type="text"
            id="input-name"
            required
            placeholder="Nombre"
            minlength="2"
            maxlength="40"

            value="Jacques Cousteau" 
          />
          <span class="form__input-error input-name-error"></span>
          <input
            class="form form__input"
            type="text"
            id="input-job"
            required
            placeholder="Acerca de"
            minlength="2"
            maxlength="200"
            value="Explorer">
            <span class="form__input-error input-job-error"></span>
            
           
          <button
            class="form form__submit-button form__submit-button_disabled"
            type="submit"
            id="submit-profile-button" disabled>
            Save
          </button>
        </form>
      </div>

      <div class="popup popup_show" id="popup-add-card" required>
        <form class="form popup__form" id="addcard-form" required>
          <img
            class="form form_close-button"
            src="<%= require('./images/Close_Icon.png)%>"
            id="close-addcard-form"
            
            alt="an image of a close button"
          />
          <h2 class="form form__title">Nuevo lugar</h2>
          
          <input
            class="form form__input"
            type="text"
            id="input-title"
            required
            placeholder="Titulo"
            minlength="2"
            maxlength="40"
            value="">
            <span class="input-title-error form__input-error"></span>
          
          <input
            class="form form__input"
            type="url"
            id="input-url"
            required
            placeholder="Enlace a la imagen"
            minlength="2">
            <span class="input-url-error form__input-error"></span>
          <button
            class="form form__submit-button"
            type="submit"
            id="addcard-form-button"

          >
            Crear
          </button>
        </form>
      </div>

      <div class="popup popup_show" id="popup-show-image">
        <div class="popup__content">
          <img
            class="popup__close-button"
            src="<%= require('./images/Close_Icon.png)%>"
            id="close-image-button"
            alt="an image of a close button"
          />
          <img class="popup__image" src=" " alt="title" />
          <h3 class="popup__title"></h3>
        </div>
      </div>

      <template class="template-card">
        <li class="card">
          <img src=" " class="card__image" alt=" " />
          <img
            class="card__delete-button"
            src="<%= require('./images/Trash_icon.png)%>"
            id="delete-button"
            alt="an image of a trash can"
          />
          <div class="card__info">
            <p class="card__title"></p>
            <button class="card__button" type="submit"></button>
          </div>
        </li>
      </template>
       </div>
  </body>
</html>
